prefer-no-csd
input {
    keyboard {
        xkb {
            layout "us"
            variant "dvorak"
        }
        repeat-delay 300
        repeat-rate 25
    }
    touchpad {
        tap
        dwt
        accel-profile "flat"
        scroll-factor 0.7
    }
    mouse {
        accel-profile "flat"
    }
}
layout {
    gaps 4
    background-color "#020e1d"
    default-column-width {
        proportion 0.5
    }
    preset-column-widths {
        proportion 0.5
        proportion 0.66667
        proportion 0.33333
    }
    border {
        width 2
        active-color "#82AAFF"
    }
    focus-ring {
        off
    }
}
animations {
    workspace-switch {
        off
    }
}
hotkey-overlay {
    skip-at-startup
}
screenshot-path "~/screenshots/%Y-%m-%d_%H-%M-%S.png"
workspace "one"
workspace "two"
workspace "three"
workspace "four"
binds {
    Mod+W repeat=false {
        close-window
    }
    Mod+Shift+E {
        quit skip-confirmation=true
    }
    Mod+O repeat=false {
        toggle-overview
    }
    Mod+V repeat=false {
        toggle-window-floating
    }
    Mod+Shift+V repeat=false {
        switch-focus-between-floating-and-tiling
    }
    Mod+F repeat=false {
        fullscreen-window
    }
    Mod+M repeat=false {
        maximize-column
    }
    Mod+R repeat=false {
        switch-preset-column-width
    }
    Mod+Shift+R repeat=false {
        expand-column-to-available-width
    }
    Mod+Y repeat=false {
        toggle-column-tabbed-display
    }
    Mod+Comma repeat=false {
        consume-or-expel-window-left
    }
    Mod+Period repeat=false {
        consume-or-expel-window-right
    }
    Mod+Return repeat=false {
        spawn "alacritty"
    }
    Mod+Space repeat=false {
        spawn "anyrun"
    }
    Mod+Left {
        focus-column-left
    }
    Mod+Down {
        focus-window-down
    }
    Mod+Up {
        focus-window-up
    }
    Mod+Right {
        focus-column-right
    }
    Mod+H {
        focus-column-left
    }
    Mod+T {
        focus-window-down
    }
    Mod+N {
        focus-window-up
    }
    Mod+S {
        focus-column-right
    }
    Mod+Shift+Left {
        move-column-left
    }
    Mod+Shift+Down {
        move-window-down
    }
    Mod+Shift+Up {
        move-window-up
    }
    Mod+Shift+Right {
        move-column-right
    }
    Mod+Shift+H {
        move-column-left
    }
    Mod+Shift+T {
        move-window-down
    }
    Mod+Shift+N {
        move-window-up
    }
    Mod+Shift+S {
        move-column-right
    }
    Mod+1 {
        focus-workspace "one"
    }
    Mod+2 {
        focus-workspace "two"
    }
    Mod+3 {
        focus-workspace "three"
    }
    Mod+4 {
        focus-workspace "four"
    }
    Mod+5 {
        focus-workspace 5
    }
    Mod+6 {
        focus-workspace 6
    }
    Mod+7 {
        focus-workspace 7
    }
    Mod+8 {
        focus-workspace 8
    }
    Mod+9 {
        focus-workspace 9
    }
    Mod+Shift+1 {
        move-column-to-workspace "one"
    }
    Mod+Shift+2 {
        move-column-to-workspace "two"
    }
    Mod+Shift+3 {
        move-column-to-workspace "three"
    }
    Mod+Shift+4 {
        move-column-to-workspace "four"
    }
    Mod+Shift+5 {
        move-column-to-workspace 5
    }
    Mod+Shift+6 {
        move-column-to-workspace 6
    }
    Mod+Shift+7 {
        move-column-to-workspace 7
    }
    Mod+Shift+8 {
        move-column-to-workspace 8
    }
    Mod+Shift+9 {
        move-column-to-workspace 9
    }
    Print {
        screenshot show-pointer=false
    }
    Ctrl+Print {
        screenshot-screen write-to-disk=false
    }
    Alt+Print {
        screenshot-window write-to-disk=false
    }
    Mod+WheelScrollDown {
        focus-workspace-down
    }
    Mod+WheelScrollUp {
        focus-workspace-up
    }
    Mod+Shift+WheelScrollDown {
        focus-column-left
    }
    Mod+Shift+WheelScrollUp {
        focus-column-right
    }
    Mod+WheelScrollRight {
        focus-column-right
    }
    Mod+WheelScrollLeft {
        focus-column-left
    }
    XF86AudioRaiseVolume allow-when-locked=true {
        spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1+"
    }
    XF86AudioLowerVolume allow-when-locked=true {
        spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1-"
    }
    XF86AudioMute allow-when-locked=true {
        spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"
    }
    XF86AudioMicMute allow-when-locked=true {
        spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"
    }
    XF86MonBrightnessUp allow-when-locked=true {
        spawn "brightnessctl" "set" "-e" "+10%"
    }
    XF86MonBrightnessDown allow-when-locked=true {
        spawn "brightnessctl" "set" "-e" "10%-"
    }
}
window-rule {
    match is-window-cast-target=true
    border {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }
}
window-rule {
    match app-id="firefox|vesktop"
    open-maximized true
}
